* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: radial-gradient(hsl(325, 91%, 53%) 0%, hsl(347, 88%, 83%) 100%);
}

@font-face {
  font-family: Barbie;
  src: url(../fuentes/Meliana.ttf);
}
@keyframes animateAplicacion {
  0% {
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.795);
  }
  25% {
    box-shadow: 7px 5px 20px rgba(255, 255, 255, 0.795);
  }
  50% {
    box-shadow: 5px 7px 30pxrgba 255, 255, 255, 0.795;
  }
  75% {
    box-shadow: 7px 7px 20px rgba(255, 255, 255, 0.795);
  }
  100% {
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.795);
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background: radial-gradient(hsl(347, 88%, 83%) 0%, hsl(325, 91%, 53%) 100%);
  box-shadow: 5px 10px 25px #971593;
  border-bottom: 1px solid rgba(255, 255, 255, 0.712);
}
.header .titulo_contacto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.header .titulo_contacto .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -20px;
}
.header .titulo_contacto .titulo span {
  color: white;
  font-family: Barbie, sans-serif;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 3px;
}
.header .titulo_contacto .btncontacto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: -15px;
}
.header .titulo_contacto .btncontacto .btntitulo {
  font-size: 35px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
.header .titulo_contacto .btncontacto .btntitulo:hover {
  color: #971593;
  transform: translateY(-3px);
}

.foto {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
.foto .foto1 {
  position: relative;
  height: 300px;
  box-shadow: 5px 5px 15px #b500b0;
  border: 1px solid rgba(255, 243, 79, 0.6431372549);
  border-radius: 10px;
  z-index: 100;
}
.foto .burbuja {
  position: absolute;
  top: 0px;
  width: 350px;
}
.foto span {
  font-family: Barbie, sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #ffffff;
}
.foto .lashes {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-top: 2px solid #b500b0;
  padding: 5px 40px;
  letter-spacing: 5px;
  margin-top: -15px;
}

.barbie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 10px;
}
.barbie a {
  text-decoration: none;
}
.barbie a div {
  position: relative;
  background-image: url(../imagenes/burbuja.svg);
  background-size: cover;
  padding: 20px 20px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.7411764706);
  animation: 7s animateAplicacion infinite;
}
.barbie a div span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
}
.barbie a div:hover {
  background: rgba(255, 246, 124, 0.829);
  background: radial-gradient(circle, rgba(255, 246, 124, 0.75) 0%, rgba(255, 243, 79, 0.75) 25%, rgba(255, 243, 79, 0.75) 71%, rgba(255, 243, 79, 0.75) 100%);
}
.barbie img {
  width: 125px;
  rotate: 10deg;
}

.nosotros {
  position: relative;
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  padding: 0px 60px;
}
.nosotros span {
  font-size: 45px;
  font-weight: 400;
  font-family: Barbie, sans-serif;
  letter-spacing: 1px;
  color: #971593;
}
.nosotros .somos {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  color: white;
}

.servicios {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.servicios span {
  font-size: 45px;
  font-weight: 400;
  font-family: Barbie, sans-serif;
  letter-spacing: 1px;
  color: #971593;
}
.servicios .categorias {
  position: relative;
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  gap: 30px;
}
.servicios .categorias img {
  position: absolute;
  top: -5px;
  left: -15px;
  width: 80px;
  z-index: 1000;
  rotate: -15deg;
}
.servicios .categorias .servicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  height: 250px;
  width: 100%;
  background: radial-gradient(hsl(347, 88%, 83%) 0%, hsl(325, 91%, 53%) 100%);
  border: 1px solid rgba(255, 243, 79, 0.6431372549);
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.877);
  border-radius: 20px;
  overflow: hidden;
}
.servicios .categorias .servicio span {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin-bottom: 0;
  font-size: 18px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  z-index: 1000;
}
.servicios .categorias:hover {
  border: 1px solid #fff34f;
  box-shadow: 3px 3px 15px rgb(255, 255, 255);
}

.servicios2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.servicios2 span {
  font-size: 45px;
  font-weight: 400;
  font-family: Barbie, sans-serif;
  letter-spacing: 1px;
  color: #971593;
}
.servicios2 img {
  position: absolute;
  top: -5px;
  left: -15px;
  width: 80px;
  z-index: 100;
  rotate: -15deg;
}
.servicios2 .categorias2 {
  position: relative;
  width: 50%;
  margin-top: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.servicios2 .categorias2 .servicio2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  height: 300px;
  width: 100%;
  background: radial-gradient(hsl(347, 88%, 83%) 0%, hsl(325, 91%, 53%) 100%);
  border: 1px solid rgba(255, 243, 79, 0.6431372549);
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.877);
  border-radius: 20px;
}
.servicios2 .categorias2 .servicio2 span {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  margin-bottom: 0;
  font-size: 18px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 500;
  z-index: 1000;
}
.servicios2 .categorias2:hover {
  border: 1px solid #fff34f;
  box-shadow: 3px 3px 15px rgb(255, 255, 255);
}

.contacto {
  position: fixed;
  right: 5px;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacto span {
  font-size: 24px;
  font-weight: 600;
  font-family: "Kalam", cursive;
  transform: rotate(90deg);
}
.contacto .contenedor {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: #b500b0;
  box-shadow: 2px 2px 10px rgb(255, 255, 255);
  height: 290px;
  width: 50px;
  transition: 0.5s;
  border-radius: 30px;
}
.contacto .contenedor.active {
  height: 130px;
  transition: 0.5s;
}
.contacto .contenedor .botones {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 25px;
  gap: 28px;
  transition: 0.5s;
}
.contacto .contenedor .botones a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.contacto .contenedor .botones a span {
  color: white;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  transform: rotate(0deg);
}
.contacto .contenedor .botones .btn {
  position: relative;
  font-size: 25px;
  color: white;
  transition: 0.5s;
}
.contacto .contenedor .botones .btn:hover {
  transform: translateY(-3px);
}
.contacto .contenedor .botones .btn.active {
  transition: 0.5s;
}
.contacto .contenedor .botones.active :nth-child(3) {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.contacto .contenedor .botones.active :nth-child(4) {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.contacto .contenedor .botones.active :nth-child(5) {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

@media screen and (max-width: 960px) {
  .header {
    height: 100px;
  }
  .header .titulo_contacto {
    gap: 15px;
  }
  .header .titulo_contacto .titulo {
    margin-top: 0px;
  }
  .header .titulo_contacto .titulo span {
    font-size: 60px;
  }
  .header .titulo_contacto .btncontacto .btntitulo {
    font-size: 30px;
  }
  .foto .burbuja {
    top: -20px;
  }
  .foto span {
    font-size: 70px;
  }
  .barbie img {
    width: 250px;
    margin-top: 25px;
  }
  .nosotros {
    width: 100%;
    z-index: 0;
  }
  .servicios .categorias {
    width: 60%;
  }
  .servicios2 .categorias2 {
    width: 60%;
  }
  .contacto {
    bottom: 5px;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 120px;
  }
  .header .titulo_contacto {
    gap: 20px;
  }
  .header .titulo_contacto .titulo {
    margin-top: 0px;
    rotate: -3deg;
  }
  .header .titulo_contacto .titulo span {
    font-size: 70px;
  }
  .header .titulo_contacto .btncontacto {
    gap: 15px;
    margin-top: -20px;
  }
  .header .titulo_contacto .btncontacto .btntitulo {
    font-size: 30px;
  }
  .foto .burbuja {
    top: -20px;
  }
  .foto span {
    font-size: 60px;
  }
  .barbie {
    margin-top: 50px;
  }
  .barbie img {
    width: 100px;
    margin-top: 0px;
    rotate: 15deg;
  }
  .nosotros {
    width: 100%;
    z-index: 0;
  }
  .servicios {
    margin-top: 60px;
  }
  .servicios .categorias {
    width: 60%;
  }
  .servicios .categorias .servicio span {
    font-size: 17px;
    font-weight: 400;
  }
  .servicios2 {
    margin-top: 60px;
  }
  .servicios2 .categorias2 {
    width: 60%;
  }
  .servicios2 .categorias2 .servicio span {
    font-size: 17px;
    font-weight: 400;
  }
  .contacto {
    bottom: 5px;
  }
}/*# sourceMappingURL=styles.css.map */